/YoloAnnotationEditor/.vs
/YoloAnnotationEditor/YoloAnnotationEditor/bin
/YoloAnnotationEditor/YoloAnnotationEditor/obj
/YoloAnnotationEditor/ZoomControl/obj
/YoloAnnotationEditor/ZoomControl/bin
/YoloAnnotationEditor/YoloAnnotationEditorTest/bin
/YoloAnnotationEditor/YoloAnnotationEditorTest/obj
